<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Se for arquivo ou diretório real, não reescreve
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Todas as outras requisições vão para index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>


