/* Fonts de Ícones */

@font-face {
  font-family: 'AntDesign';
  src: url('/painel/dist/_expo/Fonts/AntDesign.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Entypo';
  src: url('/painel/dist/_expo/Fonts/Entypo.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'EvilIcons';
  src: url('/painel/dist/_expo/Fonts/EvilIcons.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Feather';
  src: url('/painel/dist/_expo/Fonts/Feather.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/painel/dist/_expo/Fonts/FontAwesome.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'FontAwesome5_Brands';
  src: url('/painel/dist/_expo/Fonts/FontAwesome5_Brands.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'FontAwesome5_Regular';
  src: url('/painel/dist/_expo/Fonts/FontAwesome5_Regular.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'FontAwesome5_Solid';
  src: url('/painel/dist/_expo/Fonts/FontAwesome5_Solid.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'FontAwesome6_Brands';
  src: url('/painel/dist/_expo/Fonts/FontAwesome6_Brands.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'FontAwesome6_Regular';
  src: url('/painel/dist/_expo/Fonts/FontAwesome6_Regular.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'FontAwesome6_Solid';
  src: url('/painel/dist/_expo/Fonts/FontAwesome6_Solid.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Fontisto';
  src: url('/painel/dist/_expo/Fonts/Fontisto.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Foundation';
  src: url('/painel/dist/_expo/Fonts/Foundation.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Ionicons';
  src: url('/painel/dist/_expo/Fonts/Ionicons.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'MaterialCommunityIcons';
  src: url('/painel/dist/_expo/Fonts/MaterialCommunityIcons.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'MaterialIcons';
  src: url('/painel/dist/_expo/Fonts/MaterialIcons.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Octicons';
  src: url('/painel/dist/_expo/Fonts/Octicons.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'SimpleLineIcons';
  src: url('/painel/dist/_expo/Fonts/SimpleLineIcons.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Zocial';
  src: url('/painel/dist/_expo/Fonts/Zocial.ttf') format('truetype');
  font-display: auto;
}
