ion-badge {
  font-size: 0.7rem;
  text-transform: uppercase;
}

ion-icon {
  margin-right: 4px;
}

h3 {
  margin: 4px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  margin: 2px 0;
  font-size: 0.9rem;
}
