<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Força HTTPS, respeitando proxies
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Se for arquivo ou diretório real, não reescreve
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Todas as outras requisições vão para index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>

# Desabilita listagem de diretórios
Options -Indexes
